target/classes/apdev-examples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8081" basePath="/properties" doc:name="HTTP Request Configuration"/>
    <flow name="propertiesFlow">
        <vm:inbound-endpoint exchange-pattern="request-response" path="vmflow" doc:name="VM"/>
        <set-property propertyName="accountNo" value="#[1234]" doc:name="Property"/>
        <set-payload value="Inbound Properties : #[message.inboundProperties.'http.listener.path']
Outbound Propperties : #[message.outboundProperties.accountNo]]" doc:name="Set Payload"/>
        <set-payload value="#[message.payload]

OtherProperties : #[message.inboundProperties.'http.status']" doc:name="Set Payload"/>
    </flow>
    <flow name="useVariablesFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/variables" allowedMethods="GET" doc:name="HTTP"/>
        <flow-ref name="subflow1" doc:name="subflow1"/>
        <flow-ref name="subflow2" doc:name="subflow2"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="vmflow" doc:name="VM"/>
    </flow>
    <sub-flow name="subflow2">
        <set-variable variableName="fvar1" value="#[payload]" doc:name="Variable"/>
        <set-session-variable variableName="svar" value="#[34322353355554]" doc:name="Session Variable"/>
        <logger message="#[flowVars.fvar1]" level="INFO" doc:name="Logger"/>
    </sub-flow>
    <sub-flow name="subflow1">
        <set-property propertyName="accountno" value="#[123]" doc:name="Property"/>
        <set-payload value="#['This is my first payload']" doc:name="Set Payload"/>
    </sub-flow>
</mule>
